<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/common.css">
    <link rel="stylesheet" href="/folder.css">
    <title>Document</title>
</head>
<body>
    <div class="mainContent">
    <%- include('navBar') %>
    <%- include('folders') %>
    </div>
</body>
</html>